.anychart-chart-editor {
  background: white;
  border: 1px solid #acacac;
  color: #000;
  position: absolute;
  width: 80%;
  height: 80%;
  min-width: 780px; // 260 is a min size of a settings sidebar, total min is 260 * 3
  min-height: 400px;

  font-family: Arial, sans-serif;
  font-size: 13px;

  box-shadow: 0 4px 16px rgba(0, 0, 0, .2); //todo: replace on less mixin
}

.anychart-chart-editor a,
.anychart-chart-editor a:link,
.anychart-chart-editor a:visited {
  color: #06c;
  cursor: pointer;
}

.anychart-chart-editor-icon {
  margin-top: 1px;
  font-size: 14px;
}

.anychart-buttonset-default {
  font-weight: bold;
}

.anychart-flat-menu-button {
  height: 14px;
  line-height: normal;
  margin: 0 0 0 5px;
  min-width: 0;
  padding: 6px 0 6px 6px;
  text-align: left;
}

.anychart-chart-editor-color {
  &.anychart-flat-menu-button-disabled {
    background-image: none;

    .anychart-color-menu-button-indicator {
      opacity: 0.5;
    }

    .anychart-flat-menu-button-dropdown {
      opacity: 0.4;
    }
  }
}

.anychart-colormenu {
  padding: 10px;

  .anychart-palette-table {
    margin: 3px 0 0 0;
    padding: 0;
  }

  .anychart-label-input {
    width: 134px;
    margin-top: 5px;
  }
}

.ac-position-top,
.ac-position-bottom,
.ac-position-left,
.ac-position-right {
  font-size: 20px;  // grid 24
  margin-top: 0;
}

.ac-position-center,
.ac-position-center-top,
.ac-position-center-bottom,
.ac-position-center2,
.ac-position-center-left,
.ac-position-center-right {
  font-size: 21px; // grid 32
}


.ac-position-left,
.ac-position-right {
  font-size: 21px;
}

.anychart-flat-menu-button-caption {
  .ac-position-top,
  .ac-position-bottom,
  .ac-position-left,
  .ac-position-right {
    margin-top: -3px; // grid 24
    margin-left: -1px;
  }

  .ac-position-center,
  .ac-position-center-top,
  .ac-position-center-bottom,
  .ac-position-center2,
  .ac-position-center-left,
  .ac-position-center-right {
    margin-top: -4px; // grid 32
  }
}



.anychart-chart-editor-bg {
  background: #666;
  left: 0;
  position: absolute;
  top: 0;
}

.anychart-chart-editor-title {
  color: #000;
  font-weight: bold;
  height: 48px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 12px 14px;
  _zoom: 1; /* Ensures proper width in IE6 RTL. */
}

.anychart-chart-editor-title-logo {
  display: inline-block;
  /* todo rescale image to 25x25, (because background-size works only IE9+) */
  background: white url("https://cdn.anychart.com/images/anychart-logo-medium.png") no-repeat;
  background-size: 36px 36px;
  width: 36px;
  height: 36px;
  position: relative;
  top: 6px;
}

.anychart-chart-editor-title-text {
  font-size: 18px;
  line-height: 36px;
  position: relative;
  top: -6px;
  left: 7px;
  cursor: default;
}

.anychart-chart-editor-title-close {
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  height: 18px;
  width: 18px;
  text-align: center;
  font-size: 18px;
  cursor: pointer;
  opacity: 0.5;
}

.anychart-chart-editor-buttons,
.anychart-chart-editor-content {
  background-color: #fff;
}

.anychart-chart-editor-content {
  position: absolute;
  overflow: hidden;
  top: 72px;
  left: 14px;
  right: 14px;
  bottom: 12px;
}

.anychart-chart-editor-step {
  width: 100%;
  height: 100%;
  position: absolute;
}

.anychart-chart-editor-step-aside {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;

  position: absolute;
  width: 238px; //14 * 17
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #cccccc;
  overflow-y: auto;
  overflow-x: hidden;
}

.anychart-chart-editor-step-content-wrapper {
  position: absolute;
  left: 266px; //14 *19
  top: 0;
  bottom: 0;
  right: 0;
  border: 1px solid #cccccc;
}

.anychart-chart-editor-step-content {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 36px;
  overflow: hidden;
}

/* ------- PROGRESS ------- */
.anychart-chart-editor-step-progress {
  position: absolute;
  padding: 0;
  margin: 0 14px;
  left: 0;
  bottom: 0;
  right: 0;
  border-top: 1px solid #e5e5e5;
  height: 36px;
}

.anychart-chart-editor-step-progress-item-list {
  margin-top: 6px;
  line-height: 24px;
  white-space: nowrap;
  display: inline-block;
}

.anychart-chart-editor-step-progress-item {
  display: inline-block;

  &.anychart-disabled .anychart-chart-editor-step-progress-item-content {
    cursor: default;
  }

  &.anychart-active .anychart-chart-editor-step-progress-item-content {
    cursor: default;
    color: black;
  }
}

.anychart-chart-editor-step-progress-item-arrow {
  display: inline-block;
  margin: 0 7px;
}

.anychart-chart-editor-step-progress-item-content {
  display: inline-block;
  cursor: pointer;
  color: grey;
}

.anychart-chart-editor-step-progress-item-passed .anychart-chart-editor-step-progress-item-content {

}

.anychart-chart-editor-step-next-button,
.anychart-chart-editor-step-previous-button {
  float: right;
  margin-top: 5px;
}

/* ------- DATA SETS ------- */
.anychart-chart-editor-data-step-data-sets {
  margin: 0;
  padding: 0;
}

.anychart-chart-editor-data-step-data-set {
  cursor: pointer;
  list-style-type: none;
  margin: 6px 7px;
  padding: 6px 7px;

  border-bottom: 1px solid #e5e5e5;

  &.anychart-active {
    font-weight: bold;
  }
}

/* ------- DATA PREVIEW ------- */
.anychart-chart-editor-data-step-data-preview {
  margin: 12px 14px;
}

.anychart-chart-editor-data-step-data-preview-text {
  font-weight: bold;
}

.anychart-chart-editor-data-step-data-preview-code {
  margin: 12px 0 0 0;
  font-size: 12px;
  height: 100px;
  overflow: auto;

  > span {
    font-size: 12px;
  }
}

.anychart-jsonprettyprinter-propertyname {
  color: #4d4e53;
}

.anychart-jsonprettyprinter-propertyvalue-string {
  color: #690;
}

.anychart-jsonprettyprinter-propertyvalue-number {
  color: #905;
}

.anychart-jsonprettyprinter-propertyvalue-boolean {
  color: #07a;
}

.anychart-jsonprettyprinter-propertyvalue-null {
  color: #07a;
}

/* ------- DATA MAPPINGS ------- */
/* todo: anychart-chart-editor-data-mappings -> anychart-chart-editor-mappings */
.anychart-chart-editor-data-mappings {
  margin: 12px 14px;
  border-top: 1px solid #e5e5e5;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  top: 139px;
}

.anychart-chart-editor-data-mappings-title {
  margin: 12px 0;
  font-weight: bold;
}

.anychart-chart-editor-add-data-mapping {
  margin-left: 14px;
}

.anychart-chart-editor-remove-mapping {
  cursor: pointer;
  float: right;
  margin-left: 10px;
  opacity: 0.5;
}

.anychart-chart-editor-data-mappings-content {
  display: inline-block;
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 53px;
}

.anychart-chart-editor-data-mapping {
  display: inline-block;
  padding: 12px 14px;
  margin-right: 14px;
  margin-bottom: 12px;
  vertical-align: top;
  border: 1px solid #cccccc;
}

.anychart-chart-editor-data-mapping-title {
  display: inline-block;
}

.anychart-chart-editor-add-mapping-field {
  margin-top: 12px;
}

.anychart-chart-editor-remove-mapping-field {
  cursor: pointer;
  margin-left: 7px;
  margin-top: 3px;
  opacity: 0.5;
}

.anychart-chart-editor-data-mapping-field {
  margin-top: 12px;
}

.anychart-chart-editor-data-mapping-field-key,
.anychart-chart-editor-data-mapping-field-value {
  width: 100px;
}


.anychart-chart-editor-data-mapping-field-key {
  margin-right: 14px;
  margin-left: 0;
}


/* ------- CHART TYPE ------- */
.anychart-chart-editor-chartType-step {

  .anychart-chart-editor-chartTypeSidebar {

  }

  .anychart-data-mapping-warning-outer {
    height: 100%;
    width: 100%;
    text-align: center;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }

    .anychart-data-mapping-warning-inner {
      display: inline-block;
      vertical-align: middle;
      font-size: 15px;
      font-weight: bold;
    }
  }
}


.anychart-chart-editor-settings-chart-type {
  width: 85px;
  margin-right: 7px;
  margin-bottom: 7px;
  cursor: pointer;

  &.anychart-thumbnail {
    display: inline-block;
    vertical-align: top;

    > img {
      height: 85px;
    }
  }

  &.anychart-control-hover {

  }

  &.anychart-control-checked {
    &.anychart-thumbnail {
      border-color: #4695e0;
      border-radius: 0;
      outline: 3px solid #9acff9;
    }
  }

  &.anychart-control-disabled {
    filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='anychart-greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#anychart-greyscale");/* Firefox 10+, Firefox on Android */
    filter: grayscale(100%);
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */


    &.anychart-thumbnail {
      border-color: #ccc;
      box-shadow: none;
    }
  }
}

/* ------- SETTINGS GROUP ------- */
.anychart-chart-editor-chartSettingsSidebar {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.anychart-chart-editor-settings-group {
  width: 100%;
}

.anychart-chart-editor-settings-group-header {
  cursor: pointer;
  background: #f8f8f8;
  border-bottom: 1px #e5e5e5 solid;
  font-size: 13px;
  font-weight: bold;
  padding: 6px 10px;
  text-align: left;
}

.anychart-chart-editor-settings-group-content {
  border-bottom: 1px #e5e5e5 solid;
  padding: 6px 7px 12px;

  .anychart-combobox input {
    width: 28px;
  }
}

.anychart-chart-editor-settings-item-gap {
  clear: both;
  height: 12px;
}

.anychart-chart-editor-settings-item-gap-mini {
  clear: both;
  height: 6px;
}

.anychart-chart-editor-settings-item-gap-micro {
  clear: both;
  height: 4px;
}

.anychart-chart-editor-settings-item-separator {
  height: 10px;
  border-top: 1px solid #ccc;
}

.anychart-chart-editor-settings-label {
  line-height: 1.4em;
  padding: 5px 0;
}

.anychart-chart-editor-settings-header {
  font-weight: bold;
  padding: 5px 0;
}

.anychart-chart-editor-settings-control-right {
  float: right;
}

.anychart-chart-editor-settings-control-big {
  width: 100px;
}

.anychart-chart-editor-settings-control-medium {
  width: 84px;
}

.anychart-chart-editor-settings-control-small {
  width: 72px;
}

.anychart-chart-editor-settings-control-select-image {
  width: 38px;
}

/* ------- CHART SETTINGS ------- */
.anychart-chart-editor-settings-enabled {
  padding: 4px 7px;
  margin-right: -5px;
}

.anychart-chart-editor-settings-group-header {
  .anychart-chart-editor-settings-enabled {
    background: #f8f8f8;
    margin-top: -5px;
    margin-right: -8px;
    padding: 5px 7px;

    .anychart-checkbox-element {
      background-color: #fff;
    }
  }
}

.anychart-chart-editor-settings-header {
  .anychart-chart-editor-settings-enabled {
    margin-top: -4px;
  }
}

.anychart-chart-editor-settings-font-family {
  margin-left: 0;
  width: 61px;
}

.anychart-chart-editor-settings-bold {
  margin-left: 4px;
}

.anychart-chart-editor-settings-chart-title {
  width: 145px;
}

.anychart-chart-editor-remove-series-btn {
  cursor: pointer;
  opacity: 0.7;
  padding: 6px 7px;
  margin-left: 2px;
  margin-right: -5px;
}

.anychart-chart-editor-series-name-input {
  width: 120px;
}

.anychart-chart-editor-add-series-btn {
  margin: 0;
  width: 84px;
}

/* ------- NEED SORT THIS CLASSES ------- */

.anychart-chart-editor-colorPicker-popup {
  position: absolute;
  width: 300px;
}
