/* ------- COLOR MENU BUTTON ------- */

/* Color indicator. */
.anychart-color-menu-button-indicator {
  height: 14px;
  margin-left: 4px;
  outline: 1px solid #bbb;
  width: 14px;
}

/* Thinner padding for color picker buttons, to leave room for the indicator. */
.anychart-color-menu-button .anychart-menu-button-inner-box,
.anychart-toolbar-color-menu-button .anychart-toolbar-menu-button-inner-box {
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}
