[submodule "closure-library"]
	path = contrib/closure-library
	url = https://code.google.com/p/closure-library/
[submodule "jsdoc"]
	path = contrib/jsdoc
	url = https://github.com/jsdoc3/jsdoc.git
[submodule "closure-linter-wrapper"]
	path = contrib/closure-linter-wrapper
	url = https://github.com/RomanLubushkin/closure-liner-wrapper.git
[submodule "graphics"]
	path = contrib/graphics
	url = git@github.com:AnyChart/graphics.git
	branch = develop
[submodule "api-reference-engine"]
	path = contrib/api-reference-engine
	url = git@github.com:AnyChart/api-reference-engine.git
