[submodule "closure-linter-wrapper"]
	path = contrib/closure-linter-wrapper
	url = https://github.com/RomanLubushkin/closure-liner-wrapper.git
[submodule "graphics"]
	path = contrib/graphics
	url = git@github.com:AnyChart/graphics.git
	branch = develop
[submodule "contrib/closure-library"]
	path = contrib/closure-library
	url = git@github.com:google/closure-library.git
