.DS_Store
*.swp
.idea
*.pid
/bin
/libs
/out
/src
/css
*.swo
*.pyc
**/.*
npm-debug.log
build*
gjslint.cfg
modules.edn
cat.config
update-submodules
externs.js
tests
.travis.yml
demos-local
./dist/js/graphics.js
./dist/js/graphics.min.js
