{:modules
 [
  ;;=========================================================================================
  ;;  Graphics
  ;;=========================================================================================
  {:module-js "graphics"
   :picture-class "graphics"
   :title "Graphics engine"
   :description "Graphics engine used for all AnyChart products."
   :disabled true }
  ;;=========================================================================================
  ;;  AnyChart
  ;;=========================================================================================
  {:module-js "anychart"
   :picture-class "charts"
   :title "Charts"
   :description "Charting solution, contains all common chart types and features."
   :children
   [;;Cartesian
    {
     :module-js "cartesian"
     :picture-class "cartesian"
     :title "Cartesian charts"
     :description "Common Charting package."
     :children
     [{:module-js "area"
       :picture-class "area"
       :title "Area"
       :description "Include all Area like charts types, such as: Area, Spline-Area, Step-Area, Range Area, Range Spline-Area, Range Step-Area."}
      {:module-js "bar"
       :picture-class "bar"
       :title "Bar"
       :description "Include Bar and Range Bar charts types."}
      {:module-js "bubble"
       :picture-class "bubble"
       :title "Bubble"
       :description "Contains Bubble chart type."}
      {:module-js "column"
       :picture-class "column"
       :title "Column"
       :description "Include Column and Range Column charts types."}
      {:module-js "finance"
       :title "Finance"
       :description "Include Candlestick and OHLC charts types."
       :picture-class "finance"}
      {:module-js "line"
       :title "Line"
       :description "Include Line, Spline and Step-Line charts types."
       :picture-class "line"}
      {:module-js "marker"
       :title "Marker"
       :description "Contains Marker chart type."
       :picture-class "marker"}]}
    {:module-js "pie"
     :picture-class "pie"
     :title "Pie"
     :description "Interactive Pie Chart, include Data Grouping, Expand/Collapse and many other features."}
    ;;Radar/Polar
    {:module-js "radar"
     :title "Radar Chart"
     :description "TBA"
     :picture-class "radar"
     }
    {:module-js "polar"
     :title "Polar Chart"
     :description "TBA"
     :picture-class "polar"
     }
    ;;Scatter
    {:module-js "scatter"
     :title "Scatter Chart"
     :description "TBA"
     :picture-class "scatter"}
    ;;Bullet
    {:module-js "bullet"
     :title "Bullet"
     :description "TBA"
     :picture-class "bullet"}]}
 
  ;;=========================================================================================
  ;;  AnyGantt
  ;;=========================================================================================
  {:module-js "anygantt"
   :picture-class "gantt"
   :title "AnyGantt"
   :description "AnyGantt is an ideal solution for building complex and informative Gantt charts."}]
 }
