/*Loader------------------------------------------------------------------------------------------------------------------------------------*/
.anychart-loader {
    background-color: rgba(255,255,255,.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

.anychart-loader .rotating-cover {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    left: 50%;
    margin-left: -35px;
}

.anychart-loader .rotating-plane {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 20%;
    border: 5px solid #1c75ba;
    margin: 0 auto;
    position: relative;
    -webkit-animation: rotateplane 3s infinite;
    animation: rotateplane 3s infinite;
}

.anychart-loader .chart-row {
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 10px;
    right: 10px;
    letter-spacing: -3px;
    line-height: 0;
    font-size: 0;
    white-space: nowrap;
}

.anychart-loader .chart-row .chart-col {
    display: inline-block;
    width: 25%;
    height: 90%;
    background: #000;
    margin: 0 12.5% 0 0;
    vertical-align: bottom;
}

.anychart-loader .chart-row .chart-col.green {
    background: #26a957;
    height: 50%;
    -webkit-animation: blinkplane 1.5s infinite;
    animation: blinkplane 1.5s infinite;
}

.anychart-loader .chart-row .chart-col.orange {
    background: #ff8207;
    height: 70%;
    -webkit-animation: blinkplane 1.5s infinite 0.15s;
    animation: blinkplane 1.5s infinite 0.25s;

}

.anychart-loader .chart-row .chart-col.red {
    background: #f0402e;
    height: 90%;
    -webkit-animation: blinkplane 1.5s infinite 0.3s;
    animation: blinkplane 1.5s infinite 0.5s;
}

@keyframes rotateplane {
    0% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        opacity: 1;
    }
    25% {
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        opacity: 0.3;
    }
    50% {
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        opacity: 1;
    }
    75% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-180.1deg);
        transform: perspective(120px) rotateX(0deg) rotateY(-180.1deg);
        opacity: 0.3;
    }
    100% {
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        opacity: 1;
    }
}

@keyframes blinkplane {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.01;
    }
    100% {
        opacity: 1;
    }
}
/*Loader End------------------------------------------------------------------------------------------------------------------------------------*/